<%= link_to 'Add new Comment', new_topic_post_comment_path, class: 'btn' %>
<h1>Comments</h1>

<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Comment</th>
    <th>Rate Comment</th>
    <th>View Ratings</th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><strong><%= comment.user.email %>:</strong></td>
      <td><%= comment.content %></td>
      <td>
        <%= form_for([@topic, @post, comment, UserCommentRating.new], url: topic_post_comment_user_comment_ratings_path(@topic, @post, comment), remote: true) do |f| %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="form-group">
            <%= f.label :rating %>
            <%= f.select :rating, (1..5).to_a, prompt: 'Select a rating' %>
          </div>
          <%= f.submit 'Rate Comment', class: 'btn btn-primary' %>
        <% end %>
      </td>
      <td><%= link_to 'View Ratings', topic_post_comment_user_comment_ratings_path(@topic, @post, comment) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<p><%= link_to 'Back', topic_post_path(@topic, @post), class: 'btn' %></p>
<style>
    /* Add this to your CSS file */
    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 20px 0;
        font-size: 16px;
    }

    .table th,
    .table td {
        padding: 8px 12px;
        text-align: left;
    }

    .table th {
        background-color: #f0f0f0;
        font-weight: bold;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #d9edf7;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin: 6px 0;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3;
        border: 1px solid #0056b3;
    }

</style>