<%= link_to 'Create new topic', new_topic_path, class: "btn" %>
<%= link_to 'View all tags', tags_path %>
<%= link_to 'All posts', all_posts_path %>

<!--<nav>-->
  <%# if user_signed_in? %>
<!--    <ul>-->
<!--      <p>Welcome, <%#= current_user.email %></p>-->
      <%#= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<!--      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
        <%#= image_tag('avatar.jpg', alt: 'User Avatar', width: '40px', height: '40px') %>
<!--      </a>-->
<!--    </ul>-->
  <%# else%>
<!--    <li class="nav-item">-->
      <%#= link_to "Sign In", new_user_session_path, class: "nav-link" %>
<!--    </li>-->
  <%# end %>
<!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    Edit the profile-->
<!--  </button>-->
<!--</nav>-->
<table class="topics-table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Edit the topic</th>
    <th>Delete the topic</th>
    <th>Create post under this topic</th>
  </tr>
  </thead>
  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.title %></td>
      <td><%= topic.description %></td>
      <td><%= topic.user.email %></td>
      <td>
        <% if can? :update, topic %>
          <%= link_to 'Edit Topic', edit_topic_path(topic) %>
        <%else%>
          <h6>You cannot edit this topic</h6>
        <% end %>
      </td>
      <td>
        <%= link_to 'Show', topic_path(topic) %>
      </td>
      <td>
        <%= link_to "Show topic's posts", topic_posts_path(topic) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>



<style>
    /* CSS for the table */
    .topics-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .topics-table th, .topics-table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .topics-table th {
        background-color: #f2f2f2;
    }

    /* CSS for the "New topic" button */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: #0056b3;
    }

</style>