<h1>Topic of this post : <%= @post.topic.title %></h1>
<p>Post title : <%= @post.post_title %></p>
<p>Post content : <%= @post.post_content %></p>
<%= button_to "Destroy this post", topic_post_path(@post.topic, @post), method: :delete, class: "btn btn-danger"%>
<%= link_to "Back to Posts", topic_posts_path(@post.topic) %>


<h2>Comments</h2>
<%= link_to "View Comments", topic_post_comments_path(@post.topic, @post), class: "btn btn-primary" %>



